JWT_SECRET="jwt-secret-key-that-is-32-bytes-long"

APP_ENV="dev"

DEV_HOSTNAME="http://localhost"
DEV_COOKIE_DOMAIN="localhost"

HOSTNAME="https://damoang.net"
COOKIE_DOMAIN="damoang.net"

NAVER_CLIENT_ID="NAVER_CLIENT_ID"
NAVER_CLIENT_SECRET="NAVER_CLIENT_SECRET"
NAVER_REDIRECT_URL="http://localhost:3000/auth/naver/callback"

GOOGLE_CLIENT_ID="GOOGLE_CLIENT_ID"
GOOGLE_CLIENT_SECRET="NAVER_CLIENT_SECRET"
GOOGLE_REDIRECT_URL="http://localhost:3000/auth/google/callback"

MYSQL_DSN="mysqltest:mysqltest@tcp(127.0.0.1:3306)/dmg-test?charset=utf8mb4&parseTime=True&loc=Local"

# for reuse testcontainers - https://golang.testcontainers.org/features/garbage_collector/#ryuk
TESTCONTAINERS_RYUK_DISABLED=true
